# The URL of the "Master" Google Apps Script Web App for Global User Auth
# If empty, auth remains local-only.
NEXT_PUBLIC_AUTH_SHEET_URL=https://script.google.com/macros/s/AKfycbyIWqBGh2gkqni-a5VigK2pJ2-WhZECM3rIQmZaDVJERAEtLz-XiVNtQILCjAc4O7El/exec
